.btn-outline-gold {
  color: #F8D06B;
  border-color: #F8D06B;
}

/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
  --accent-color: #0d0d0d;
  --bs-gray-100: #f3f3f3;
  --bs-gray-200: #e7e5e2;
  --bs-primary: #787d62;
  --bs-secondary: #F6F5F2;
  --bs-primary-rgb: 120, 125, 98;
  --bs-body-bg-rgb: 246, 245, 242;
  --bs-light: #fff;
  --bs-dark: #000;
  --navbar-color-color: #131814;
  --swiper-theme-color: #787d62 !important;
  --swiper-pagination-color: #787d62 !important;
}

/* 1. Header
/*----------------------------------------------*/
.site-header {
  z-index: 10;
  transition: background 0.3s ease-out;
}

.navbar-nav .nav-item a.nav-link {
  color: var(--accent-color);
}

.navbar-nav .nav-item a.nav-link.active,
.navbar-nav .nav-item a.nav-link:focus,
.navbar-nav .nav-item a.nav-link:hover {
  color: var(--bs-primary);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bs-secondary);
}

/*------------ Offcanvas -------------- */
#header-nav .navbar-toggler:focus {
  box-shadow: none;
}
#header-nav .offcanvas.show {
  z-index: 9999;
  background-color: var(--bs-light);
}
#header-nav .offcanvas-end {
  width: 500px;
}

.offcanvas.show .nav-item a.nav-link {
  font-size: 2em;
}

.offcanvas.show .offcanvas-body .navbar-nav {
  align-items: unset !important;
  padding-left: 20px;
}

/*------------ Top User Icons -----------*/
.site-header .user-items svg {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  #navbar .user-items {
    display: none;
  }
}
#header {
  background-color: rgba(20, 137, 195, 0.7);
}
#header .nav-link.active, #header .nav-link:not(.logo):hover {
  color: #0b64d8;
  opacity: 1;
  font-weight: 600;
}
#header .nav-link.active:after, #header .nav-link:not(.logo):hover:after {
  width: 100%;
  max-width: 3rem;
}

.news_Swiper {
  width: 100%;
  height: 50vw;
  max-height: 600px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.news_Swiper .news-img {
  overflow: hidden;
}
.news_Swiper .card:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.box {
  width: 80%;
  height: 50vw;
  max-height: 600px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .box {
    max-height: unset;
    height: 150vw;
  }
}

.swiper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
}

.sub_Swiper .txtBox {
  width: 20%;
  position: relative;
  top: 20%;
  left: 70%;
  transition: opacity 0.25s 0.2s !important;
  opacity: 0;
  color: #000;
}
@media only screen and (max-width: 991px) {
  .sub_Swiper .txtBox {
    top: 7%;
    width: 80%;
  }
}
.sub_Swiper .bg {
  width: 66%;
  height: 100%;
}
.sub_Swiper .bg div {
  width: 100%;
  height: 100%;
}
.sub_Swiper .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.sub_Swiper .bg div {
  background-size: cover;
  background-position: center;
}
.sub_Swiper .swiper-slide-active .txtBox {
  opacity: 1;
}

.max_Swiper {
  position: absolute !important;
  width: 66%;
  top: 50%;
  /* max-height: 500px; */
  /* left: 64%; */
  left: 0%;
  transform: translate(0%, -50%);
  overflow: hidden;
  border: 1px solid #000;
}
@media only screen and (max-width: 991px) {
  .max_Swiper {
    max-width: 100%;
    height: 75%;
    top: unset;
    bottom: 0;
    right: -3%;
  }
}
.max_Swiper.swiper-3d .swiper-slide-shadow-right, .max_Swiper.swiper-3d .swiper-slide-shadow-left {
  background-image: unset !important;
}
.max_Swiper img {
  opacity: 0;
  width: auto;
  height: 100%;
  transform: translateZ(0) translateX(80%);
  transition: transform 1s 0.25s !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.max_Swiper .cover {
  width: 40%;
  position: absolute;
  z-index: 0;
  /* bottom: 0; */
  top: 80%;
  left: 58%;
  opacity: 1;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 991px) {
  .max_Swiper .cover {
    top: unset;
    bottom: 10%;
    position: absolute;
    width: 55%;
    left: 2%;
  }
}
.max_Swiper .cover img {
  width: 100%;
}
.max_Swiper .swiper-slide-next img {
  opacity: 1;
}
.max_Swiper .swiper-slide-active img {
  opacity: 1;
  transform: translateZ(0) translateX(20%);
}

.kv_Swiper {
  cursor: ns-resize;
}
.kv_Swiper .swiper-pagination {
  right: 12% !important;
}
.kv_Swiper .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
}
.kv_Swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer {
  position: relative;
}
footer a {
  color: inherit;
  text-decoration: none;
}

.jarallax {
  position: relative;
  z-index: 0;
  min-height: 510px;
}

#about .info {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  #about .info {
    width: 100%;
  }
}
#about .jarallax-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#Services {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  #Services {
    width: 100%;
  }
}
#Services .item:hover .item-img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
#Services .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#Services .item-bg {
  left: 0%;
  background-color: #fff;
}
#Services .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ebebeb;
  border: 1px solid #fff;
  width: 90%;
  height: 90%;
  padding: 0 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-start;
  pointer-events: none;
}

#Customers {
  position: relative;
}
#Customers .Customers-swiper {
  width: 100%;
  margin: 0 auto;
}
#Customers .item {
  display: flex;
  justify-content: center;
  color: #ccc;
}
#Customers .item.swiper-slide-active {
  color: #121212;
}
#Customers .item-img {
  margin-right: 3%;
}
#Customers .item-img img {
  width: 4rem;
  height: auto;
  border-radius: 50%;
  border: 1px solid;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#Customers .item-text {
  width: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
  flex-direction: column;
  text-align: center;
}
#Customers .customer-name::before {
  position: relative;
  content: "---";
  left: 0;
}
#Customers .Customers-swiper {
  cursor: ew-resize;
}
@media only screen and (min-width: 992px) {
  #Customers .swiper_Customers-button-prev {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #Customers .swiper_Customers-button-next {
    display: none;
  }
}

#contact {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  #contact {
    width: 100%;
  }
}
#contact iframe.map {
  width: 100%;
  max-height: 400px;
}
#contact .btn {
  width: 100%;
  margin: 0 auto;
  display: block;
}

iframe {
  width: 100%;
  height: 500px;
  padding: 0 !important;
}

#e-newsletter {
  position: relative;
  background-color: #ccc;
}
#e-newsletter .infoBox {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}/*# sourceMappingURL=main.css.map */