@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
.btn-outline-gold {
  color: #F8D06B;
  border-color: #F8D06B;
}

.text-colorful {
  color: #ff0066;
}

/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
  --accent-color: #0d0d0d;
  --bs-gray-100: #f3f3f3;
  --bs-gray-200: #e7e5e2;
  --bs-primary: #787d62;
  --bs-secondary: #F6F5F2;
  --bs-primary-rgb: 120, 125, 98;
  --bs-body-bg-rgb: 246, 245, 242;
  --bs-light: #fff;
  --bs-dark: #000;
  --navbar-color-color: #131814;
  --swiper-theme-color: #fff !important;
  --swiper-pagination-color: #000 !important;
}

/* 1. Header
/*----------------------------------------------*/
.site-header {
  z-index: 10;
  transition: background 0.3s ease-out;
}

.navbar-nav .nav-item a.nav-link {
  color: var(--accent-color);
}

.navbar-nav .nav-item a.nav-link.active,
.navbar-nav .nav-item a.nav-link:focus,
.navbar-nav .nav-item a.nav-link:hover {
  color: var(--bs-primary);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bs-secondary);
}

/*------------ Offcanvas -------------- */
#header {
  background-color: rgba(20, 137, 195, 0);
}
#header .navbar-toggler:focus {
  box-shadow: none;
}
#header .offcanvas.show {
  z-index: 9999;
  background-color: var(--bs-light);
}
#header .offcanvas-end {
  max-width: 65%;
}
#header .navbar-brand {
  width: 6rem;
  text-align: right;
  background-image: url(../images/logo.png);
  display: block;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 768px) {
  #header .navbar-brand {
    background-image: url(../images/logo.png);
  }
}
#header .offcanvas .navbar-brand {
  background-image: url(../images/logo_drank.png);
}
#header .logo {
  width: 155px;
  height: auto;
}
#header .nav-link {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  #header .nav-link {
    color: #000;
  }
}
#header .nav-link:hover, #header .nav-link.active {
  font-weight: 600;
}
#header .navbar-toggler {
  color: #fff;
}
#header.scroll {
  background-color: #fff;
}
#header.scroll .nav-link,
#header.scroll .navbar-toggler {
  color: #000;
}
@media only screen and (max-width: 768px) {
  #header.scroll .nav-link,
  #header.scroll .navbar-toggler {
    color: #000;
  }
}
#header.scroll .nav-link:hover, #header.scroll .nav-link.active,
#header.scroll .navbar-toggler:hover,
#header.scroll .navbar-toggler.active {
  color: #ff0066;
}
@media only screen and (max-width: 768px) {
  #header.scroll .nav-link:hover, #header.scroll .nav-link.active,
  #header.scroll .navbar-toggler:hover,
  #header.scroll .navbar-toggler.active {
    color: #ff0066;
  }
}
#header.scroll .navbar-brand {
  background-image: url(../images/logo_drank.png);
}

footer {
  position: relative;
}
footer a {
  color: inherit;
  text-decoration: none;
}
footer a:hover {
  color: #ff0066;
}
footer .logo {
  height: 3rem;
}
@media only screen and (max-width: 768px) {
  footer .footer-menu {
    text-align: center;
  }
}

.offcanvas.show .offcanvas-body .navbar-nav {
  align-items: unset !important;
  padding-left: 20px;
}

/*------------ Top User Icons -----------*/
.site-header .user-items svg {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #navbar .user-items {
    display: none;
  }
}
.section-title {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.section-title .section-subtitle {
  font-weight: 400;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  opacity: 0.8;
  background-color: #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #000;
}

.s-block {
  position: absolute;
}

.kv .title {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 3vw;
  line-height: 1.4;
}
@media only screen and (max-width: 768px) {
  .kv .title {
    font-size: 4.5vw;
  }
}
.kv .subTitle {
  font-size: 1.6vw;
}
@media only screen and (max-width: 768px) {
  .kv .subTitle {
    font-size: 2.2vw;
  }
}
.kv .info {
  font-size: 1vw;
}
@media only screen and (max-width: 768px) {
  .kv .info {
    font-size: 2.2vw;
  }
}

.info {
  font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif, arial;
}

.text-shadow {
  text-shadow: 2px 3px 10px #666;
}

#Featured {
  position: relative;
}
#Featured .section-title {
  position: relative;
  padding-top: 5.5%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  #Featured .section-title {
    padding-top: 0;
  }
}
#Featured .box {
  width: 70%;
  height: 40vw;
  max-height: 700px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  #Featured .box {
    width: 100%;
    max-height: unset;
    height: 150vw;
  }
}
#Featured .swiper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
}
#Featured .sub_Swiper .txtBox {
  width: 20%;
  position: relative;
  top: 50%;
  left: 70%;
  transition: opacity 0.25s 0.2s !important;
  opacity: 1;
  color: #000;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  #Featured .sub_Swiper .txtBox {
    top: 0%;
    width: 100%;
    left: 0;
    transform: translate(0, 0);
  }
}
#Featured .sub_Swiper .bg {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 768px) {
  #Featured .sub_Swiper .bg {
    width: 100%;
  }
}
#Featured .sub_Swiper .bg div {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  #Featured .sub_Swiper .bg div {
    background-position: bottom;
  }
}
@media only screen and (max-width: 768px) {
  #Featured .sub_Swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
#Featured .sub_Swiper .sup_swiper-pagination {
  position: absolute;
  display: flex;
  width: 1rem;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 1rem !important;
  transform: translateY(-50%);
  z-index: 1;
}
#Featured .sub_Swiper .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem 0;
}

.kv_Swiper {
  width: 100%;
  height: auto;
  max-height: 100vh;
}
@media only screen and (max-width: 768px) {
  .kv_Swiper {
    max-height: 50vw;
  }
}
.kv_Swiper .swiper-pagination {
  right: 12% !important;
}
.kv_Swiper img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.kv_Swiper .cover {
  position: absolute;
  top: 30%;
  left: 12%;
  width: 38%;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .kv_Swiper .cover {
    left: 7%;
    width: 80%;
  }
}

.jarallax {
  position: relative;
  z-index: 0;
  min-height: 510px;
}

#about .info {
  margin: 0 auto;
}
#about .jarallax-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about .btn {
  background: rgba(255, 255, 255, 0.2);
}
#about .btn:hover {
  color: #fff;
  font-weight: 600;
}

#Services {
  position: relative;
  margin: 0 auto;
}
#Services .item .item-img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
#Services .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#Services .item-bg {
  left: 0%;
  background-color: #fff;
}
#Services .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ebebeb;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
#Services .btn {
  background: rgba(255, 255, 255, 0.2);
}
#Services .btn:hover {
  color: #fff;
  font-weight: 600;
}

#Customers {
  position: relative;
}
#Customers .Customers-swiper {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  #Customers .Customers-swiper {
    width: 90%;
  }
}
#Customers .item {
  display: flex;
  justify-content: center;
  color: #ccc;
}
@media only screen and (max-width: 768px) {
  #Customers .item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#Customers .item.swiper-slide-active {
  color: #121212;
}
#Customers .item-img {
  margin-right: 3%;
}
@media only screen and (max-width: 768px) {
  #Customers .item-img {
    margin-bottom: 8%;
  }
}
#Customers .item-img img {
  width: 7rem;
  height: auto;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#Customers .item-text {
  position: relative;
  width: auto;
  display: flex;
  align-items: start;
  pointer-events: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 768px) {
  #Customers .item-text {
    width: 90%;
  }
}
#Customers .customer-name {
  position: relative;
  left: 40%;
  transform: translate(-50%);
}
#Customers .customer-name::before {
  position: relative;
  content: "---";
  left: 0;
}
#Customers .Customers-swiper {
  cursor: ew-resize;
}
@media only screen and (min-width: 992px) {
  #Customers .swiper_Customers-button-prev {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #Customers .swiper_Customers-button-next {
    display: none;
  }
}

#contact {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  #contact {
    width: 100%;
  }
}
#contact iframe.map {
  width: 100%;
  max-height: 400px;
}
#contact .btn {
  width: 100%;
  margin: 0 auto;
  display: block;
}
#contact .btn:hover {
  color: #fff;
  font-weight: 600;
}

iframe {
  width: 100%;
  height: 500px;
  padding: 0 !important;
}

#e-newsletter {
  position: relative;
  background-image: url(../images/banner-bg_02.webp);
  background-size: cover;
  background-position: center left;
}
#e-newsletter .infoBox {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#e-newsletter .infoBox input {
  background-color: unset;
  border: 0;
  border-bottom: 1px solid;
  color: #fff;
  height: 2.8rem;
}
#e-newsletter .infoBox .btn {
  position: absolute;
  right: 0%;
  top: -5%;
  border-radius: 50%;
  padding: 1.5% 3%;
}
#e-newsletter .infoBox .btn:hover {
  color: inherit;
  font-weight: 600;
}
#e-newsletter .infoBox ::-moz-placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}
#e-newsletter .infoBox ::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}
#e-newsletter .infoBox ::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #fff;
}/*# sourceMappingURL=main.css.map */